body {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)),
    url("../public/img/School\ Logo_104519.png");
  background-size: 25%; /* Let the browser handle the sizing */
  background-repeat: no-repeat;
  background-position: center center; /* Center the background image both vertically and horizontally */
  background-attachment: fixed; /* Keep the background image fixed while scrolling */
}
.text-lemon {
  color: rgb(37, 155, 194); /* Adjust the color code as needed */
}
.bg-lemon {
  background-color: rgb(37, 155, 194); /* Adjust the color code as needed */
}
.bottom-div-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px; /* Adjust as needed for spacing from the bottom */
}

.bottom-div {
  position: absolute;
  bottom: 0;
  right: 1rem;
  width: 100%;
  background-color: rgb(37, 155, 194); /* Adjust background color as needed */
  color: white; /* Adjust text color as needed */
  padding: 5px 0; /* Adjust padding as needed */
  display: flex;
  align-items: center; /* Align items vertically centered */
}
.inline-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.inline-container p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
/* Add to your CSS */
.dashboard-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f9fa; /* same as bg-light */
}
